
.character-race-stat-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.character-race-stat-value ul {
    padding: 0;
    margin: 10px 0;
    max-width: 150px;
}
.character-race-stat-value  li {
    list-style: none;
}

.character-race-preview-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.character-race-preview-title {
    font-size: 24px;
    margin-bottom: 5px;
    width: 100%;
}
.character-race-preview-subtitle, 
.character-race-preview-speed, 
.character-race-preview-size, 
.character-race-preview-age, 
.character-race-preview-worldview {
    margin-bottom: 20px;
}
.skill-item {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.skill-short-desc {

}
.skill-item-link {
    padding-left: 5px;
}
.skill-item span, 
.character-race-ability-bonuce span, 
.character-race-stat-value span, 
.character-race-preview-speed span, 
.character-race-preview-size span, 
.character-race-preview-age span,
.character-race-preview-worldview span {
    font-weight: bold;
}
.character-race-stats-bonuce {
    margin-bottom: 20px;
}
.character-race-ability-bonuce {
    margin-bottom: 10px;
}
.gender-block-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gender-block-female {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    border: 1px solid;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.gender-block-male {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}
.gender-block-male::before {
    content: '\2642';
    font-size: 30px;
    cursor: pointer;
}
.gender-block-female::before {
    content: '\2640';
    font-size: 30px;
    cursor: pointer;
}
.gender-selected {
    background-color: #000;
    color: white;
}
.gender-title-f {
    left: 16%;
    color: #000;
    position: absolute;
}
.gender-title-m {
    right: 20%;
    color: #000;
    position: absolute;
}

.character-race-preview-bonuce-skills-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    padding-left: 10px;
}
.character-race-stat-value, 
.character-race-preview-speed, 
.character-race-preview-size,
.character-race-preview-age,
.character-race-preview-worldview,
.race-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 10px;
    text-align: left;
    justify-content: left;
}
.character-race-preview-span-title {
    margin-bottom: 5px;
}

.race-description-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    overflow-y: scroll;
}
.character-bonuce-stats-increase-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 29%;
    border: 1px solid;
    padding: 5px;
}
.reset-dice-btn {
    width: 25%;
}
.character-bonuce-stats-preview-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.character-bonuce-stats-preview-title {
    font-size: 24px;
    width: 100%;
}
.character-bonuce-stat-title {
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
}
.character-bonuce-stat-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.character-bonuce-stat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    border: 1px solid black;
    padding: 2px;
    margin-right: 10px;
    font-size: 16px;
}
.character-bonuce-stat-value {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 35px;
    max-width: 33%;
    padding: 2px;
    margin-right: 10px;
}
.character-bonuce-stat-spend-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 25px;
    max-width: 33%;
    padding: 2px;
    margin-right: 10px;
    cursor: pointer;
}
.character-bonuce-stat-spend-btn button {
    cursor: pointer;
}
.character-bonuce-stats-preview-bonuces {
    margin-bottom: 20px;
}
.character-bonuce-stats-preview-subtitle {
    margin-bottom: 20px;
}
.character-bounce-stats-increase-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.character-bonuce-stat-increase-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.character-bonuce-stat-increase-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}
.character-bonuce-stat-increase-title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 33%;
    margin-right: 5px;
    min-width: 50px;
}
.character-bonuce-stat-increase-str {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.character-bonuce-stat-increase-str-input-wrap  {
    display: flex;
    max-width: 33%;
    margin-right: 5px;
}
.character-bonuce-stat-increase-value {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    max-width: 50px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
}
.character-bonuce-stat-increase-str-input-wrap input {
    border: 1px solid;
    max-width: 50px;
    max-height: 25px;
}
.character-bonuce-stat-increase-btns-wrap {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.character-bonuce-stat-increase-btns-wrap .character-bonuce-stat-auto-increase {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    min-height: 25px;
    margin-right: 5px;
}
.character-bonuce-stat-increase-plus, .character-bonuce-stat-increase-min {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid;
    margin-right: 5px;
    cursor: pointer;
}
.character-bonuce-stat-increase-title-bottom-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.character-bonuce-stat-remaining-points, .character-bonuce-stat-free-points {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.character-bonuce-stat-increase-recomendation-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.character-bonuce-stat-increase-recomendation-wrap h4 {
    margin: 0 0 10px 0;
}
.character-bonuce-stat-increase-recomendation-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.character-bonuce-stat-increase-recomendation-content p {
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 1.5;
    width: 100%;
}
.character-recomended-stat {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding-right: 10px;
}
.character-recomended-stat-name {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
}
.character-steps-total-stats-test-wrap,
.character-steps-total-abilities-test-wrap,
.character-steps-total-attack-test-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.character-steps-total-stat-item-row,
.character-steps-total-ability-item-row,
.character-steps-total-select-item-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.character-steps-total-stat-value,
.character-steps-total-stat-target,
.character-steps-total-stat-result,
.character-steps-total-abilitiy-value,
.character-steps-total-abilitiy-target,
.character-steps-total-abilitiy-result {
    border: 1px solid;
    max-width: 30%;
    width: 300px;
    margin-right: 5px;
    text-align: center;
}
.character-steps-total-stat-value input,
.character-steps-total-stat-target input,
.character-steps-total-stat-result input,
.character-steps-total-abilitiy-value input,
.character-steps-total-abilitiy-target input,
.character-steps-total-abilitiy-result input {
    text-align: center;
    max-width: 50px;
}
.character-steps-total-stat-value-base,
.character-steps-total-stat-value-target,
.character-steps-total-stat-value-result,
.character-steps-total-attack-target {
    font-size: 14px;
}
.character-steps-total-stats-test-title,
.character-steps-total-abilities-test-title,
.character-steps-total-attack-test-title {
    margin-bottom: 10px;
}
.character-steps-total-stats-test-try-count-wrap,
.character-steps-total-abilities-test-try-count-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.character-steps-total-stats-select-wrap,
.character-steps-total-abilities-select-wrap {
    margin-bottom: 10px;
}
.character-steps-total-stats-select-title,
.character-steps-total-abilities-select-title,
.character-steps-total-attack-select-title {
    padding: 5px;
}
.character-steps-total-stats-test-try-pass-wrap,
.character-steps-total-stats-test-try-fail-wrap,
.character-steps-total-abilities-test-try-pass-wrap,
.character-steps-total-abilities-test-try-fail-wrap  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.character-steps-total-stats-test-try-pass-title,
.character-steps-total-stats-test-try-fail-title,
.character-steps-total-abilities-test-try-pass-title,
.character-steps-total-abilities-test-try-fail-title {
    width: 30%;
    max-width: 150px;
    margin-right: 10px;
}
.character-steps-total-stats-test-try-pass-row-wrap {
    width: 60%;
    position: relative;
}
.character-steps-total-stats-test-try-pass-row,
.character-steps-total-stats-test-try-fail-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.character-steps-total-stats-test-try-pass-item,
.character-steps-total-stats-test-try-fail-item  {
    display: flex;
    flex-direction: column;
    width: 10px;
    height: 10px;
    max-width: 15%;
    border: 1px solid;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
    position: relative;
}
.character-steps-total-stats-test-try-pass-icon::before {
    position: absolute;
    top: -25%;
    left: 20%;
    content: '\1F5F8';
    font-size: 20px;
    color: green;
    cursor: pointer;
}
.character-steps-total-stats-test-try-fail-icon::before {
    position: absolute;
    top: -25%;
    left: 20%;
    content: '\1F5F8';
    color: red;
    font-size: 20px;
    content: '\10102';
    cursor: pointer;
}
.character-steps-total-stats-test-btns-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.character-steps-total-stats-test-btns-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.character-steps-total-stats-test-btn-item {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.character-steps-total-stats-test-btn-item button {
    cursor: pointer;
}
.character-steps-total-stats-test-preview-total {
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    z-index: 5;
    top: 100%;
    margin-bottom: 20px;
}
.character-steps-total-abilities-item-row {
    margin-bottom: 10px;
}
.character-steps-total-abilities-btns-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.character-steps-total-abilities-btn-item {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.character-steps-total-attack-select-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}
.character-steps-total-attack-melee-row,
.character-steps-total-attack-range-row,
.character-steps-total-attack-spell-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.character-steps-total-attack-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 300px;
    border: 1px solid;
    margin-right: 5px;
    font-size: 14px;
}
.character-steps-total-attack-item-spell {
    max-width: 22%;
}
.character-steps-total-attack-item select{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.character-steps-total-attack-target-armor,
.character-steps-total-attack-target-result {
    display: flex;
    flex-direction: row;
}
.character-steps-total-attack-item label,
.character-steps-total-attack-item label {
    max-width: 40%;
}
.character-steps-total-attack-item input,
.character-steps-total-attack-item input {
    max-width: 55%;
}
.character-steps-total-attack-mastery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.character-steps-total-attack-statmodifers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.character-steps-total-attack-statmodifer-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 33%;
    margin-right: 10px;
}
.character-steps-total-attack-penalty-wrap {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    justify-content: center;
}
.attack-penalty-title {
    padding-right: 10px;
}
.attack-penalty-chexkbox {
    width: 18px;
    height: 18px;
    border: 1px solid;
}
.attack-penalty-chexkbox-checked {
    width: 18px;
    height: 18px;
    border: 1px solid;
    position: relative;
}
.attack-penalty-chexkbox-checked::before {
    content: '\1F5F8';
    color: red;
    font-size: 20px;
    position: absolute;
    top: -6px;
    left: 2px;
}
.character-steps-total-attack-spell-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.character-steps-total-attack-spell-target-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}
.character-steps-total-attack-spell-target-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 300px;
    border: 1px solid;
    margin-right: 5px;
    font-size: 14px;
}
.character-steps-total-attack-spell-target-item label {
    max-width: 50%;
}
.character-steps-total-attack-spell-target-item input {
    max-width: 50%;
}
.character-steps-total-attack-spell-target-item select {
    width: 100%;
    border: none;
}
.character-steps-total-attack-spell-target-title {
    margin-bottom: 10px;
}