
.character-race-stat-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.character-race-stat-value ul {
    padding: 0;
    margin: 10px 0;
    max-width: 150px;
}
.character-race-stat-value  li {
    list-style: none;
}

.character-race-preview-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.character-race-preview-title {
    font-size: 24px;
    margin-bottom: 5px;
    width: 100%;
}
.character-race-preview-subtitle, 
.character-race-preview-speed, 
.character-race-preview-size, 
.character-race-preview-age, 
.character-race-preview-worldview {
    margin-bottom: 20px;
}
.skill-item {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.skill-short-desc {

}
.skill-item-link {
    padding-left: 5px;
}
.skill-item span, 
.character-race-ability-bonuce span, 
.character-race-stat-value span, 
.character-race-preview-speed span, 
.character-race-preview-size span, 
.character-race-preview-age span,
.character-race-preview-worldview span {
    font-weight: bold;
}
.character-race-stats-bonuce {
    margin-bottom: 20px;
}
.character-race-ability-bonuce {
    margin-bottom: 10px;
}
.gender-block-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gender-block-female {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    border: 1px solid;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.gender-block-male {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}
.gender-block-male::before {
    content: '\2642';
    font-size: 30px;
    cursor: pointer;
}
.gender-block-female::before {
    content: '\2640';
    font-size: 30px;
    cursor: pointer;
}
.gender-selected {
    background-color: #000;
    color: white;
}
.gender-title-f {
    left: 16%;
    color: #000;
    position: absolute;
}
.gender-title-m {
    right: 20%;
    color: #000;
    position: absolute;
}

.character-race-preview-bonuce-skills-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    padding-left: 10px;
}
.character-race-stat-value, 
.character-race-preview-speed, 
.character-race-preview-size,
.character-race-preview-age,
.character-race-preview-worldview,
.race-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 10px;
    text-align: left;
    justify-content: left;
}
.character-race-preview-span-title {
    margin-bottom: 5px;
}

.race-description-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    overflow-y: scroll;
}
.character-bonuce-stats-increase-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 29%;
    border: 1px solid;
    padding: 5px;
}
.reset-dice-btn {
    width: 25%;
}
.character-bonuce-stats-preview-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.character-bonuce-stats-preview-title {
    font-size: 24px;
    width: 100%;
}
.character-bonuce-stat-title {
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
}
.character-bonuce-stat-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.character-bonuce-stat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    border: 1px solid black;
    padding: 2px;
    margin-right: 10px;
    font-size: 16px;
}
.character-bonuce-stat-value {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 35px;
    max-width: 33%;
    padding: 2px;
    margin-right: 10px;
}
.character-bonuce-stat-spend-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 25px;
    max-width: 33%;
    padding: 2px;
    margin-right: 10px;
    cursor: pointer;
}
.character-bonuce-stat-spend-btn button {
    cursor: pointer;
}
.character-bonuce-stats-preview-bonuces {
    margin-bottom: 20px;
}
.character-bonuce-stats-preview-subtitle {
    margin-bottom: 20px;
}
.character-bounce-stats-increase-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.character-bonuce-stat-increase-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.character-bonuce-stat-increase-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}
.character-bonuce-stat-increase-title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 33%;
    margin-right: 5px;
    min-width: 50px;
}
.character-bonuce-stat-increase-str {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.character-bonuce-stat-increase-str-input-wrap  {
    display: flex;
    max-width: 33%;
    margin-right: 5px;
}
.character-bonuce-stat-increase-value {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    max-width: 50px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
}
.character-bonuce-stat-increase-str-input-wrap input {
    border: 1px solid;
    max-width: 50px;
    max-height: 25px;
}
.character-bonuce-stat-increase-btns-wrap {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.character-bonuce-stat-increase-btns-wrap .character-bonuce-stat-auto-increase {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    min-height: 25px;
    margin-right: 5px;
}
.character-bonuce-stat-increase-plus, .character-bonuce-stat-increase-min {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid;
    margin-right: 5px;
    cursor: pointer;
}
.character-bonuce-stat-increase-title-bottom-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.character-bonuce-stat-remaining-points, .character-bonuce-stat-free-points {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.character-bonuce-stat-increase-recomendation-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.character-bonuce-stat-increase-recomendation-wrap h4 {
    margin: 0 0 10px 0;
}