.user-profile-main-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.user-profile-main-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.user-profile-main-title h1 {
    font-size: 24px;
}
.user-profile-characters-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 50%;
    max-width: 60%; */
    min-height: 98vh;
    border: 1px solid;
}
.user-profile-characters-wrap-full {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    max-width: 60%;
    min-height: 98vh;
    border: 1px solid;
}
.user-profile-characters-controls-wrap,
.user-profile-all-characters-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.user-profile-characters-add-btn::before {
    content: '\2795';
    min-width: 40px;
    min-height: 40px;
    border: 1px solid;
    padding: 5px 8px;
    font-size: 24px;
    cursor: pointer;
}
.user-profile-character-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    border: 1px solid;
    margin: 10px;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
}
.user-profile-character-item-elem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 10%;
    width: 10%;
    min-height: 50px;
    border-right: 1px solid;
    align-items: center;
    justify-content: center;
}
.user-profile-character-elem-avatar {
    display: flex;
    align-items: center;
    min-width: 15%;
    background-repeat:no-repeat;
    background-position: center center;
}
.user-profile-character-elem-avatar img {
    border: 1px solid;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    
}
.user-profile-character-elem-lvl {
    min-width: 10%;
    width: 10%;
}
.user-profile-character-elem-race {
    min-width: 15%;
    width: 15%;
}
.user-profile-character-elem-class {
    min-width: 15%;
    width: 15%;
}
.user-profile-character-elem-name {
    min-width: 15%;
    width: 15%;
}
.user-profile-character-elem-exp {
    min-width: 10%;
    width: 10%;
}
.user-profile-character-elem-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 18%;
    border-right: none;
    justify-content: center;
}

.user-profile-character-elem-controls .edit-btn,
.user-profile-character-elem-controls .remove-btn,
.user-profile-character-elem-controls .preview-btn {
    display: flex;
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    margin: 0 5px;
    position: relative;
}

.user-profile-character-elem-controls .edit-btn::before {
    display: flex;
    font-size: 15px;
    cursor: pointer;
    content: '\1F589';
    padding-right: 10px;
    align-items: center;
    max-width: 18px;
    max-height: 18px;
    width: 18px;
    position: absolute;
    top: 2px;
}
.user-profile-character-elem-controls .remove-btn::before {
    display: flex;
    align-items: center;
    font-size: 18px;
    max-width: 18px;
    max-height: 18px;
    cursor: pointer;
    content: '\2716';
}


.user-profile-character-elem-controls .preview-btn::before {
    display: flex;
    font-size: 17px;
    cursor: pointer;
    content: '\1F589';
    padding-right: 10px;
    align-items: center;
    max-width: 18px;
    max-height: 18px;
    width: 18px;
    position: absolute;
    top: 2px;
    content: '\1F441';
}

.user-profile-main-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    max-width: 40%;
    background-color: lightgray;
    margin-right: 40px;
    justify-content: center;
    max-height: 400px;
}
.user-profile-main-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 55%;
    max-width: 55%;
    justify-content: center;
    align-items: center;
}
.user-profile-avatar-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    max-width: 30%;
    align-items: center;
}
.user-profile-min-info-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}
.user-profile-avatar-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.user-profile-avatar,
.user-profile-avatar-btn-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
    margin-bottom: 20px;
}
.user-profile-avatar-btn-wrap {
    max-width: 100px;
}
.user-profile-avatar img {
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
    border: 1px solid;
    border-radius: 50%;
    margin-bottom: 10px;
}
.user-info-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
}
.user-info-controls-title {
    font-weight: bold;
}
.user-profile-value {
    padding-left: 10px;
}
.user-profile-username, 
.user-profile-email,
.user-profile-password {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: flex-start;
}
.user-profile-username span, 
.user-profile-email span,
.user-profile-password span {
    justify-content: flex-start;
    position: relative;
    max-width: 150px;
}
.user-profile-edit-btn {
    padding-left: 10px;
}
.user-profile-edit-btn::before {
    position: absolute;
    top: -4px;
    left: 10px;
    content: '\1F589';
    cursor: pointer;
}
.user-info-controls-popup-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
    background-color: gray;
    position: absolute;
    justify-content: center;
    z-index: 5;
}
.user-info-controls-popup-inputs {
    display: flex;
    min-height: 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-info-controls-popup-input {
    margin-bottom: 10px;
}
.user-info-controls-popup-input input {
    border: 1px solid;
}
.user-info-controls-popup-save-wrap button {
    cursor: pointer;
}
.user-info-controls-popup-close-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
.user-info-controls-popup-close-btn::before {
    position: absolute;
    right: 10px;
    top: -10px;
    cursor: pointer;
    content: '\2716';
    font-size: 18px;
}
.user-characters-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    min-height: 0;
    border: none;
}
.user-profile-characters-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.user-profile-characters-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    max-width: 60%;
    min-height: 98vh;
}
.user-character-preview-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 48%;
    min-width: 45%;
    min-height: 98vh;
    margin-left: 10px;
    border: 1px solid;
}
.user-character-preview-avatar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}
.user-character-preview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.user-character-preview-image-wrap,
.user-character-preview-image {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    min-height: 300px;
    max-width: 300px;
    max-height: 40%;
    margin-right: 4%;
    margin-bottom: 20px;
}
.user-character-preview-image-wrap img,
.user-character-preview-image img {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.user-character-preview-stats-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.user-character-preview-stats-wrap {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    width: 45%;
    margin-bottom: 20px;
}
.user-character-preview-health-wrap {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 45%;
    margin-left: 5%;
    margin-bottom: 20px;
}
.user-character-health-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: center;
    margin-top: 10%;
}
.user-character-preview-stat-item-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    max-width: 200px;
    font-size: 18px;
}
.user-character-health-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
}
.user-character-health-icon {
    width: 40px;
    height: 40px;
    background-color: #C14B3C;
    transform: rotate(45deg);
    position: relative;
}
.user-character-health-icon::before,
.user-character-health-icon::after {
    content : '';
    display: block;
    width: 40px;
    height: 40px;
    background-color: #C14B3C;
    border-radius: 50%;
    position: absolute;
}
.user-character-health-icon::before {
    top: -20px;
    left: 0;
}
.user-character-health-icon::after {
    top: 0;
    left: -20px;
}
.user-character-max-hits-value {
    width: 40px;
    position: absolute;
    z-index: 3;
    top: 2%;
    left: 35%;
    font-size: 18px;
}
.user-character-armor-icon-wrap,
.user-character-health-icon-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.user-character-armor-icon {
    height: 50px;
    width: 60px;
    background-color: gray;
    position: relative;
  }
  
.user-character-armor-icon:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 82%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 18px gray;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
}
.user-character-armor-class-value {
    position: absolute;
    display: flex;
    top: 40%;
    left: 33%;
    font-size: 18px;
}
.user-character-armorclass-title,
.user-character-hp-title {
    margin-bottom: 10px;
}
.user-character-armor-class-value-block,
.user-character-max-hits-value-block {
    cursor: pointer;
}
.user-character-preview-stat-name,
.user-character-preview-stat-value {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
}
.user-character-preview-stat-name {
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
}
.user-character-preview-name-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}
.user-character-preview-name,
.user-character-preview-worldview,
.user-character-preview-race,
.user-character-preview-background,
.user-character-preview-class,
.user-character-preview-class-lvl,
.user-character-preview-exp {
    margin-bottom: 10px;
}
.user-character-preview-class-lvl,
.user-character-exp-total {
    padding-left: 5px;
}
.user-character-preview-abilities-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.user-character-preview-abilities-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.user-character-preview-abilitiy-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    max-width: 33%;
    width: 28%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px 4px;
    border: 1px solid;
}
.user-character-preview-abilitiy-item-name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2px;
    max-width: 90%;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.ability-info-icon::before {
    position: absolute;
    content: '\1F6C8';
    max-width: 20px;
    cursor: pointer;
}
.ability-popup-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    min-width: 200px;
    min-height: 200px;
    background-color: gray;
    justify-content: center;
    padding: 20px;
    border: 1px solid;
    position: absolute;
    z-index: 5;
    pointer-events: none;
}
.ability-popup-body {
    width: 100%;
    z-index: 5;
}
.ability-popup-hidden {
    display: none;
}
.user-character-preview-abilitiy-item-value {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2px;
    max-width: 20%;
    width: 15%;
    min-width: 20px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
}
.user-profile-all-characters-filters-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.user-profile-all-characters-filter-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
    padding: 5px 10px;
}
.user-profile-all-characters-filter-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    min-width: 25px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid;
}
.user-profile-all-characters-filter-btn {
    cursor: pointer;
}
.filter-active {
    border-color: red;
}
.filter-icon-up::before {
    content: '\2191';
}
.filter-icon-down::before {
    content: '\2193';
}
.user-character-preview-skills-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.user-character-preview-skills-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.user-character-skills-avalible-wrap {
    margin-right: 10px;
}
.user-character-skills-avalible-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70%;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.user-character-spells-avalible-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 28%;
    width: 28%; 
}
.user-character-preview-spellbook-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
}
.user-character-preview-spellbook-icon::before {
    content: '\1F4D6';
    display: flex;
    font-size: 40px;
    cursor: pointer;
}
.user-character-spellbook-popup-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    width: 660px;
    min-height: 400px;
    background-color: gray;
}
.user-character-spellbook-popup-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.user-character-spellbook-popup-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.user-character-spellbook-popup-close {
    display: flex;
    position: relative;
    width: 100%;
}
.user-character-spellbook-popup-close-icon::before {
    content: '\274C';
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}
.user-character-spellbook-title {
    margin-bottom: 10px;
}
.user-character-spellbook-spelllevels-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.user-character-spellbook-spelllevels-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.user-character-spellbook-spelllevels-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 20%;
    margin-right: 10px;
    border: 1px solid;
    padding: 2px 6px;
    cursor: pointer;
}
.user-character-spellbook-spelllevels-item-selected {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 20%;
    margin-right: 10px;
    border: 1px solid;
    padding: 2px 6px;
    cursor: pointer;
    border: 1px solid red;
}
.user-character-spellbook-spells-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.user-character-spellbook-spells-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    justify-content: flex-start;
    margin: 0 5%;
}
.user-character-spellbook-spell-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    max-width: 20%;
    border: 1px solid;
    min-height: 75px;
    max-width: 75px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}
.user-character-spell-item-image {
    width: 75px;
    height: 75px;
    position: absolute;
    cursor: pointer;
}
.user-character-spell-description-popup {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    position: absolute;
    z-index: 6;
    min-height: 400px;
    width: 100%;
    background-color: wheat;
    top: 0;
    left: 0;
}
.user-character-spell-description-popup-body-title {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 20px;
}
.user-character-spell-description-popup-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 400px;
    width: 100%;
}
.user-character-decription-popup-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.spell-info-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    line-height: 1.4em;
}
.spell-info-table-title,
.spell-info-table-value {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 5px;
}
.user-character-spell-description-popup-body-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 200px;
    width: 55%;
    max-width: 70%;
}
.user-character-spell-description-popup-body-spell-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 200px;
    border: 1px solid;
    align-items: self-end;
    width: 35%;
    margin-right: 2%;
    max-width: 35%;
    padding: 5px 10px;
}
.user-character-spell-item-title,
.user-character-spell-item-level {
    margin-bottom: 10px;
}
.user-character-spell-description-popup-body-content p {
    padding: 5px 10px;
    text-align: left;
    line-height: 1.4em;
}
.user-character-skills-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.user-character-skill-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 33%;
    min-width: 30%;
    min-height: 50px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    position: relative;
}
.user-character-skill-item:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
}
.user-character-skill-item-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.user-character-skill-item-controls-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.user-character-skill-item-control {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.user-character-skill-item-control-preview::before {
    display: flex;
    font-size: 17px;
    cursor: pointer;
    content: '\1F6C8';
    padding-right: 10px;
    align-items: center;
    max-width: 18px;
    max-height: 18px;
    width: 18px;
    position: absolute;
    left: 5%;
}
.user-character-skill-item-control-info::before {
    content: '';
    font-size: 17px;
    cursor: pointer;
    content: '\1F6C8';
    padding-right: 10px;
    align-items: center;
    max-width: 18px;
    max-height: 18px;
    width: 18px;
    position: absolute;
    left: 5%;
}
.user-character-skill-item-control-type::before {
    content: '';
    font-size: 17px;
    cursor: pointer;
    content: '\1F6C8';
    padding-right: 10px;
    align-items: center;
    max-width: 18px;
    max-height: 18px;
    width: 18px;
    position: absolute;
    right: 5%;
}
.user-character-mastery-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.user-character-armor-mastery-wrap,
.user-character-weapon-mastery-wrap,
.user-character-instrument-mastery-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 33%;
    width: 30%;
}
.user-character-weapon-mastery-wrap {
    margin: 0 2% 0 1%;
}
.user-character-armor-mastery-item,
.user-character-weapon-mastery-item,
.user-character-instrument-mastery-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 5px;
    width: 175px;
    max-width: 100%;
    margin-bottom: 10px;
    max-height: 20px;
    padding: 2px 4px;
}
.user-character-weapon-mastery-item {
    margin: 0 2% 10px 2%;
}
.mastery-info-icon-wrap,
.mastery-type-icon-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 12%;
    width: 12%;
    position: relative;
}
.mastery-info-icon::before {
    position: absolute;
    top: -10px;
    left: -10px;
    content: '\1F6C8';
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
}
.mastery-type-icon-armor::before {
    position: absolute;
    top: -10px;
    right: -10px;
    content: '\1F6C8';
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    content: '\1F6E1';
}
.mastery-type-icon-weapon::before {
    position: absolute;
    top: -12px;
    right: -10px;
    content: '\2694';
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    font-size: 22px;
}
.mastery-type-icon-instrument::before {
    content: '\1F527';
    position: absolute;
    top: -13px;
    right: -10px;
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    font-size: 20px;
}
.user-character-mastery-name {
    display: flex;
    flex-wrap: wrap;
    max-width: 79%;
    width: 70%;
}
.user-character-description-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}
.user-character-description-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    padding: 10px;
}
.user-character-preview-other-stats-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.user-character-preview-other-stats-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.user-character-size-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    justify-content: center;
    align-items: center;
}
.user-character-size-title,
.user-character-preseption-title,
.user-character-speed-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.user-character-size-value,
.user-character-height-value {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}
.user-character-preseption-wrap,
.user-character-speed-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
}