.character-steps-spellbook-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.character-steps-spells-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
    border: 1px solid;
    align-items: center;
    width: 44%;
    padding: 0 10px 0 0;
}
.spellbook-navigation-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.spellbook-navigation-btn-level,
.spellbook-navigation-btn-level-disabled {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 16%;
    max-width: 25px;
    min-height: 25px;
    border: 1px solid;
    cursor: pointer;
}
.spellbook-navigation-btn-level-disabled {
    opacity: 0.5;
    cursor: default;
}
.character-steps-spellbook-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.character-steps-spellbook-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 auto;
    width: 75px;
    min-height: 75px;
    border: 1px solid;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    filter: grayscale();
    background-image: url('./img/spell.jpg');
    background-size: cover;
    background-position: center;
}
.character-steps-spellbook-item-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.character-steps-spellbook-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.spellbook-info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}