.character-steps-spellbook-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.character-steps-spells-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
    border: 1px solid;
    align-items: center;
    width: 44%;
    padding: 0 10px 0 0;
}
.spellbook-navigation-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.spellbook-navigation-btn-level,
.spellbook-navigation-btn-level-disabled {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 16%;
    max-width: 25px;
    min-height: 25px;
    border: 1px solid;
    cursor: pointer;
}
.spellbook-navigation-btn-level-disabled {
    opacity: 0.5;
    cursor: default;
}
.character-steps-spellbook-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.character-steps-spellbook-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 auto;
    width: 75px;
    min-height: 75px;
    border: 1px solid;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    filter: grayscale();
    background-image: url('./img/spell.jpg');
    background-size: cover;
    background-position: center;
}
.character-steps-spellbook-item-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.character-stps-spells-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.character-steps-spellbook-info,
.character-stps-charm-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 20px;
}
.spellbook-info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.character-steps-spellbook-lvl,
.character-steps-rituals-lvl,
.character-steps-charm-lvl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    min-width: 33%;
}
.character-steps-spellbook-lvl h4,
.character-steps-charm-lvl h4,
.character-steps-rituals-lvl h4 {
    margin-bottom: 5px;
    padding: 0;
}
.character-steps-spellbook-lvl-list,
.character-steps-charm-lvl-list,
.character-steps-rituals-lvl-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.character-steps-spellbook-lvl-list li,
.character-steps-charm-lvl-list li,
.character-steps-rituals-lvl li {
    list-style: none;
    max-width: 250px;
    text-align: center;
}
.character-steps-skills-wrap,
.character-steps-race-skills-wrap{
    margin-top: 20px;
}
.character-steps-skills-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.character-steps-skills-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 25%;
    min-width: 100px;
    border: 1px solid;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}