.character-builder-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.player-character-wrap, .npc-character-wrap, .services-wrap  {
    display: flex;
    max-width: 33%;
    width: 30%;
    justify-content: center;
    align-items: center;
    min-width:300px;
    min-height: 600px;
    border: 1px solid;
    margin-right: 20px;
}