.character-steps-total-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}
.character-steps-total-info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
}
.character-steps-total-info-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 33%;
    width: 30%;
    border: 1px solid;
    margin-right: 10px;
}
.character-total-race-wrap,
.character-total-background-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.character-total-race-title,
.character-total-class-title,
.character-total-background-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: underline;
    margin: 10px 0;
}
.character-total-background-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.character-total-background-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.character-total-background-description-content {
    margin-bottom: 20px;
}
.character-total-race-skills-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.character-total-race-stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.character-total-skills-list, 
.character-total-race-stats-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style:  none;
}
.character-total-skills-list li {
    margin-bottom: 5px;
}
.character-total-race-stats-list li {
    margin-bottom: 5px;
    list-style: none;
}
.character-total-skills-list-title {
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}
.character-total-mastery-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.character-total-mastery-title {
    margin-bottom: 10px;
}
.character-total-mastery-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
}
.character-total-mastery-weapons,
.character-total-mastery-armor,
.character-total-mastery-instruments,
.character-total-mastery-languages {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    width: 30%;
    border: 1px solid;
    margin-right: 10px;
}
.character-total-mastery-weapons-title,
.character-total-mastery-armor-title,
.character-total-mastery-instrument-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    margin: 5px 0;
}
.character-total-weapon-mastery-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.character-total-armor-mastery-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.character-total-instruments-mastery-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.character-total-weapon-mastery-list li {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.character-total-armor-mastery-list li {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.character-total-instruments-mastery-list li {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.character-total-inventory-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 96%;
}
.character-total-inventory-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 48%;
    margin-right: 10px;
    margin-bottom: 20px;
}
.weaknesses-and-strengths-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    min-width: 45%;
}
.character-inventory-item-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid;
    margin-bottom: 5px;
}
.character-inventory-gold-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.character-inventory-gold-item {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    margin-right: 5px;
}
.character-inventory-gold-title {
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    font-size: 14px;
    font-weight: bold;
    justify-content: flex-start;
}
.coin-icon::before {
    content: '\1FA99';
}
.character-total-savethrows-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    justify-content: center;
}
.character-total-savethrows-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
}
.character-total-savethrow-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 14%;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid;
}
.character-total-savethrows-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.character-total-savethrow-title {
    margin-bottom: 10px;
}
.character-total-attack-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.character-total-attack-title {
    margin-bottom: 10px;
}
.character-total-attack-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.character-total-physical-attack-wrap,
.character-total-magical-attack-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    width: 43%;
    border: 1px solid;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin-bottom: 20px;
    padding: 10px;
}
.magical-attack-param-row,
.physical-attack-param-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}
.magical-attack-param-item,
.physical-attack-param-item  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 5px;
    align-items: center;
    margin-bottom: 5px;
}
.magical-attack-param-value,
.physical-attack-param-value {
    border-bottom: 1px solid;
}
.character-stranges-weakness-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 48%;
    border: 1px solid;
    margin-bottom: 20px;
}
.character-stranges-wrap,
.character-weakness-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100%;
}
.character-stranges-wrap {
    border-right: 1px solid;
}
.character-stranges-item,
.character-weakness-item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    margin: 5px;
    justify-content: center;
}
.character-total-abilities-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
.character-total-abilities-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.character-total-abilities-title {
    margin-bottom: 10px;
}
.character-total-abilites-stat-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    width: 30%;
    margin-bottom: 10px;
    margin-right: 10px;
}
.character-total-abilites-stat-wrap:nth-child(even){
    margin-right: 0 10px;
}
.character-total-base-stat-ability {
    margin-bottom: 10px;
    align-items: center;
}
.character-total-stat-ability {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
}
.character-total-stat-ability-name {
    width: 88%;
    justify-content: flex-start;
    text-align: left;
    display: flex;
}
.character-total-stat-ability-value {
    display: flex;
    justify-content: flex-end;
    max-width: 14%;
}
.character-steps-total-avatar-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.character-steps-total-avatar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.character-steps-total-avatar-add-image-form,
.character-steps-total-char-description-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 50%;
    width: 46%;
    border: 1px solid;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.character-total-race-title,
.character-total-inventory-title {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.character-total-avatar-title {
    margin-top: 20px;
    margin-bottom: 10px;
}
.character-steps-total-popup-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 5;
    background-color: gray;
    padding: 10px;
}
.character-steps-total-popup-title {
    margin-bottom: 10px;
    margin-top: 20px;
}
.character-steps-total-popup-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin-bottom: 10px;
}
.character-steps-total-popup-body textarea {
    min-width: 300px;
    min-height: 300px;
}
.character-steps-total-popup-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.character-steps-total-popup-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.character-steps-total-btn {
    display: flex;
    margin-right: 10px;
}
.character-steps-total-popup-close::before {
    content: '\2716';
    font-size: 16px;
    color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.character-steps-total-description-btn button,
.character-steps-total-popup-btn-wrap button {
    cursor: pointer;
}
.character-steps-total-char-description-result-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
}
.character-steps-total-edit-description-btn::before,
.character-steps-total-edit-image-btn::before {
    content: '\1F589';
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.character-steps-total-char-description-content,
.character-steps-total-char-description-content p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
}
.character-steps-total-char-description-content p {
    text-align: left;
    line-height: 1.2em;
    padding: 10px;
}
.character-steps-total-image-popup-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    z-index: 5;
    min-height: 400px;
    background-color: gray;
    padding: 20px;
}
.character-steps-total-image-popup-title {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
}
.character-steps-total-image-popup-upload-btn-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.character-steps-total-image-popup-preview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 300px;
    min-width: 300px;
    border: 1px solid;
    margin-bottom: 20px;
}
.character-steps-total-image-popup-preview img {
    max-width: 300px;
}
.character-steps-total-avatar-result-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
}
.character-steps-total-avatar-result-wrap img {
    max-width: 230px;
    padding: 10px;
}
.character-steps-total-image-popup-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.character-steps-total-image-btn {
    margin-right: 10px;
}
.character-steps-total-image-btn button {
    cursor: pointer;
}
